#adjudicationPopupContainer {
  display: none;
  flex-direction: column;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#adjudicationStatusContainer {
  overflow-y: scroll;
  overflow: hidden;
  align-self: center;
}

#adjudicationActions {
  display: flex;
  margin: 18px;
}

#validateAdjudicationButton {
  margin-right: 10px;
}

#cancelAdjudicationButton {
  margin-left: 10px;
}

.adjudicationStatusLine {
  color: white;
  margin-bottom: 5px;
  align-items: baseline;
  display: flex;
  height: 40px;
}

.adjudicationStatusLine.Live {
  margin-bottom: 15px;
}

.adjudicationStatusSource {
  margin-right: 25px;
  font-weight: bolder;
  font-size: x-large;
}

.adjudicationStatusCurrentLot {
  margin-right: 25px;
  font-weight: bolder;
  font-size: x-large;
}

.adjudicationstatusOrigin {
  margin-right: 25px;
  text-align: left;
  font-weight: bolder;
  font-size: x-large;
  white-space: nowrap;
  border-radius: 15px;
  max-width: 280px;
  overflow: hidden;
}

.adjudicationstatusOrigin.Live {
  padding: 8px;
}

.adjudicationstatusLastAmount{
  font-weight: bolder;
  font-size: x-large;
  text-align: left;
}

.adjudicationstatusLiveBidderId {
  text-align: left;
  font-size: large;
}

.adjudicationMessage {
  color: white;
  margin-bottom: 15px;
}

.nothingToAdjudicateMessage ,
.incoherenceInAdjudicationMessage{
  display: block;
  text-align: center;
}