body {
  width: 784px;
  background-color: #1a2035;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#actionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1a2035;
  width: 100%;
  box-sizing: border-box;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-right: 10px;
}

.first-row,
.buttons-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

input[type="number"] {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  flex: 2 1 0%;
}

input[type="number"]:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 100%;
  max-width: 250px;
}

input:disabled,
input[disabled]{
  opacity: 0.25;
}

.primaryButton {
  background-color: #913f9e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  flex: 1 1 0%;
}

.primaryButton:disabled,
button[disabled]{
  opacity: 0.25;
}

.primaryButton:hover {
  background-color: #9b43a9;
  color: #fff;
}

#bidButton {
  width: auto;
  flex: 0 1 auto;
  margin-left: 10px;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-left: 10px;
}

.adjudication-buttons-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#adjudicateButton {
  margin-bottom: 20px;
  margin-right: 5px;
  width: 100%;
  height: 96px;
}

#unsoldLotButton {
  margin-bottom: 20px;
  margin-left: 5px;
  width: 100%;
  height: 96px;
}

#sendFairWarningButton {
  width: 100%;
}

#setStartingPriceButton {
  margin-right: 5px;
}

#removeLastBidButton {
  width: 100%;
}

#nextBidAmountSuggestionButton {
  margin-left: 5px;
}

#globalkillSwitchContainer {
  display: flex;
  height: 38px;
}

#globalKillSwitchLabelContainer{
  padding-top: 10px;
}

#globalKillSwitchLabel {
  color:white;
}

#globalKillSwitch {
  padding-top: 5px;
  margin-left: 20px;
}

